* {
  font-family: 'メイリオ';
}


/* Button base　style */
.btn {
  border: none;
  /*font-size: inherit;*/
  /*color: inherit;*/
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  /*display: inline-block;*/
  margin-top: 15px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
}

.btn-1 {
  border: 3px solid #fff;
  color: #fff;
  width: 600px;
  height: 200px;
  background: #FF9500;
}
.btn-1:hover {
  color: #FF9500;
}


/* Button 1d */
.btn-1d {
  overflow: hidden;
}
.btn-1d .text {
  position: absolute;
  z-index: 2;
  left: 0px;
  width: 100%;
  font-size: 3.0em;
  text-align: center;
  top: 25px;

}

.btn-1d .station_jp_name {
  font-size: 1.5em;
  font-family: 'メイリオ';
}

.btn-1d .station_eng_name {
  font-size: 1.0em;
  font-family: 'メイリオ';
}

.btn-1d .back {
  width: 90%;
  height: 100%;
  top: 0px;
  position: absolute;
  left: 5%;
  z-index: 1;
  background: #fff;
}
.btn-1d .back .left {
  float: right;
  width: 50%;
  height: 100%;
  background: #FF9500;
}
.btn-1d .back .right {
  float: left;
  width: 50%;
  height: 100%;
  background: #FF9500;
}

.btn-1d:hover .text {
  color: #FF9500;
}
