#slider {
	width:100%;
	height:100%;
}

* {
  font-family: 'メイリオ';
}

body{
  margin: 0;
  padding: 60px 0 70px 0;
}

div#header {
  position: fixed !important;
  position: absolute;
  top: 0;
  left: 0;
  height: 116px;
  width: 100%;
  color: #00a3d9;
  /*z-index: 100;*/
  padding: 15px;
  padding-bottom: 10px;

  text-align: center;
  font-size: 3.2em;
}

#contents {
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

#tiles ul {
    text-align: center;
    margin-right: 40px
}

#tiles li {
  list-style-type: none;
  display: inline-block;
  margin: 40px 60px;
}

.title {
  color:#fff;

}

/* Button base　style */
.btn {
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 15px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
}

.btn-1 {
  border: 3px solid #fff;
  color: #fff;
  width: 600px;
  height: 201px;
}

/* Button 1d */
.btn-1d {
  overflow: hidden;
}
.btn-1d .text {
  position: absolute;
  z-index: 2;
  left: 0px;
  width: 100%;
  font-size: 3.0em;
  text-align: center;
  top: 25px;

}

.btn-1d .station_jp_name {
  font-size: 1.5em;
  font-family: 'メイリオ';
}

.btn-1d .station_eng_name {
  font-size: 1.0em;
  font-family: 'メイリオ';
}

.btn-1d .back {
  width: 90%;
  height: 100%;
  top: 0px;
  position: absolute;
  left: 5%;
  z-index: 1;
  background: #fff;
}
.btn-1d .back .left {
  float: right;
  width: 50%;
  height: 100%;
}
.btn-1d .back .right {
  float: left;
  width: 50%;
  height: 100%;
}