* {
	font-family: 'メイリオ';
}

body{
	margin: 0;
	padding: 60px 0 70px 0;
}
div#header {
	position: fixed !important;
	position: absolute;
	top: 0;
	left: 0;
	height: 116px;
	width: 100%;
	background-color:  #00a3d9;
	color: #fff;
	z-index: 100;
	padding: 15px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 3.2em;
}

div#contents  {
	margin-top: 100px;
	width: 100%;

} 

#li {
	list-style-type: none;
}


/*.tile {*/
	/*float:left;*/
	/*border: 2px solid #ffffff;*/
	/*background-color: #00BB85;*/

	/*width: 500px;*/
	/*height:200px;*/
	/*margin-left: 200px;*/

/*}*/

.station_name {
	color: #ffffff;
	text-align: center;
	font-size: 3.0em;
	
}

.station_eng_name {
	color: #ffffff;
	text-align: center;
	font-size: 3.0em;
}

