/*
全体コンテンツ設定
*/

#wrapper {
	width: 780px;
	margin: 0 auto 50px;
}

/*
ストリートビュー設定&マップ設定
*/
#svp_area {
	width: 780px;
	height: 400px;
	margin: 0 auto;
	padding: 5px 0px 10px 0px;
	border-radius: 2px;
}

#svp {
	width: 780;
	height: 400px;
	margin: 0 auto;
}

#map {
	width: 460px;
	height: 300px;
	margin: 0 auto;
}

#text_area {
	margin: 0 10px 0 0;
	float: left;
	width: 310px;
}